
/* font-family: 'Karla', sans-serif; */


@font-face {
    font-family: 'Noir Medium';
    src: url('fonts/webfontkit-20200407-112945/noir_medium-webfont.woff'),
         url('fonts/webfontkit-20200407-112945/noir_medium-webfont.woff2');
}

@font-face {
    font-family: 'Noir Regular';
    src: url('fonts/webfontkit-20200407-112945/noir_regular-webfont.woff'),
         url('fonts/webfontkit-20200407-112945/noir_regular-webfont.woff2');
}

* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    background: #0E0E0E;
    background-image: url("../images/background-full.jpg");
    min-height: 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #DBD9D2;
    float: left;
    text-align: left;
}

ul {
    list-style: none;
}

.work-card a, .special-text {
    padding: 1%;
    margin-right:10px;
    margin-left: 10px;
}

/* Navigation bar styling */

#nav-bar {
    position: fixed;
    background: #191C23;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

#menu {
    position: absolute;
    right: 1%;
    padding: 1%;
    clear: both;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    clear: both;
    display: none;
    position: fixed;
    right: 0;
    background: #191C23;
    min-width: 250px;
    z-index: 1
}

.dropdown-content a {

    padding: 60px, 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 30px;
    clear: both;
    
}

/* Main container */

.container {
    overflow: hidden;
    max-width: 100%;
    width: 100%;
    margin: 0;
}

/* work */

.work-div, #skills {
    position: relative;
    overflow: auto;
    width: 100vw;
    max-width: 100vw;
    margin-top: 40vh;
    background-color: #D3919C;
}

.work-div {
    clip-path: polygon(
          0 0,
          100vw 20vh,
          100vw 200vh,
          0 200vh
        );
}

#skills {
    padding-bottom: 20%;
    clip-path: polygon(
        0 15vh,
        100vw 0,
        100vw 200vh,
        0vh 200vh
      );
}

.work-card, #skills-section{
    text-align: center;
    background:#191C23;
    box-shadow: 0 8px 6px -6px black;
}

#skills-section {
    display: block;
    margin: auto;
    width: 80vw;
}

.skill {
    color: #D3919C;
    padding: 30px;
    font-size: 80px;
}

.nav-icon {
    align-content: right;
    position: relative;
    top: 10%;
    width: 40px;
}

.work-card {
    position: relative;
    color: #DBD9D2;
    margin-bottom: 10%;
    margin-right: 2%;
    box-shadow: 0 8px 6px -6px black;
}

.description {
    display: none;
}

.work-card:hover {
    transform: scale(1.2, 1.2)
}

.work-card:hover > .description {
    display: inline;
}

.work-card::after {
    content: '';
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0 12px 15px rgba(0,0,0,0.3);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.work-card:hover::after {
    opacity: 1
}


.sections {
    font-family: 'Karla', sans-serif;
    color: #DBD9D2;
    font-size: 52px;
    padding: 10%;
}

h1 {
    font-size: 80px;
    font-family: 'Noir Regular', sans-serif;
    color: #DBD9D2;
    position: relative;
    padding-top: 1%;
    left:  1%;
    margin-bottom: 0;
    float: left;

}

h2 {
    text-align: center;
    color: #DBD9D2;
    width: 80%;
    margin-top: 40vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #191C23;
    padding: 10vh 10vw;
    box-shadow: 0 8px 6px -6px #D3919C;
}

h3 {
    text-align: center;
    font-family: 'Karla', sans-serif;
    margin: 5%;
}

h5 {
    font-size: 2vmax;
    font-family: 'Karla', sans-serif;
    margin-bottom: 0;
    padding: 0 1%;
}

#work-title {

    box-shadow: 0 8px 6px -6px #D3919C;
}

.modal-title {
    font-size: 6vw;
    color: #DBD9D2;
    text-align: center;
}


a {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #DBD9D2;
    float: left;
    padding: 1%;
    text-align: left;
}

.form.contact-me {
    position: fixed;
    top: 3%;
    margin: 10%;
    background-color: #34424D;
    color: #DBD9D2;
    width: 80%;
}

input,
select,
textarea {

    color: #34424D;
}

.form-piece,
label {
    margin: 1% 5%;
    width: 90%;
}

#contact {
    padding: 5vh;
    margin-top: 10vh;
    background: #191C23;
    color: #DBD9D2;
    font-family: 'Karla', sans-serif;
    opacity: 0.8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    }

#contact:hover {
    opacity: 1
}

p {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    color: #DBD9D2;
    margin: 1%;
    float: left;
}

.button-primary.custom,
.button.button-primary.custom {
    background-color: #34424D;
    margin: 0.3% auto;
    text-align: center;
    display: block;
}


a:visited {
    background-color: #34424D;
}

a:hover, .close-modal:hover {
    color: #D3919C;
    text-decoration: underline;
}

a:active {
    background-color: #34424D;
}

.work {
    display: block;
    width: 300px;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #34424D;
    transition: 0.5s;
    z-index: 3
}

.current-img {
    width: 600px;
}

.hidden1 {
    text-align: center;
}

.buffy {
    display: inline-block;
}

#site-button a {
    font-weight: 600;
    font-size: 16px;
    padding: 2% 2%;
    margin: auto 1%;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    color: #DBD9D2;
}

#bio {
    position: relative;
    left: 50px;
    margin: 0;
    padding: 0;
    color: #191C23;
    font-size: 20px;
    list-style: square
}

#picture {
    background:  #191C23;
    box-shadow: 0 8px 6px -6px black;

}    

.contact-link {
    margin-right: 3%;
    margin-left: 3%;
}

#personal, #tech-skills {
    margin-bottom: 25%;
}

.initial {
   color: #D3919C
}

#more-info {
    color: #D3919C
}

.code {
    float: right;
}

#row2 {
    margin-left: 3.5%;
}
/* MODAL STYLING -- Thank you to Paul Mclean for this CodePen using Skeleton for a custom modal. https://codepen.io/paulmcclean/pen/YGXWQY */

.modal,
.modal-open {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65);
    transition: opacity .15s ease-in-out;

}

.modal {
    visibility: hidden;
    backface-visibility: hidden;
    opacity: 0;
}

.modal-open {
    visibility: visible;
    backface-visibility: visible;
    opacity: 1;
    z-index: 1;
}

.modal-inner,
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.modal-inner {
    height: 80%;
}

.modal-content {
    max-width: 100%;
    padding: 1em 1.5em;
    position: fixed;
    top:0;
    margin: auto;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
    height: 100%;

}

.modal-buttons-seperator {
    margin: 1.5em 0;
    margin-top: 0;
}

.modal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#modal-live-site, #modal-code-site, .close-modal {
    color: #DBD9D2;
    font-size: 16px;
    font-weight: 600;
    margin: 5px;
}

.close-modal {

    position: absolute;
    top: 5px;
    right: 5px;
}

#modal-live-site:hover, #modal-code-site:hover, .close-modal:hover {
    color: #D3919C;
    background-color: #191C23;
}

#modal-live-site:active, #modal-code-site:active, .close-modal:active {
    background-color: #DBD9D2;
}

#projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-content: space-evenly;
}

button {
    margin-left: 1em;
}

button:first-child {
    margin-left: 0;
}


.modal-content {
    background: #191C23;
    color: #DBD9D2
}

#modal-image {
    display: block;
    margin: 5% auto;
    width: 100%;
}

@media screen and (max-width: 550px) {

    h1 {
        font-size: 1vw;
    }

    h5 {
        font-size: 3vmax;
    }

    .skill {
        padding: 5px;
    }

    .work-card {
        width: 100vw;
        margin-left: auto;
        margin-right: auto;
    }

    .work-card:hover {
        transform: scale(1.0, 1.0)
    }

    .work-div {
        clip-path: polygon(
              0 0,
              100vw 15vh,
              100vw 500vh,
              0 500vh
            );
    }


    .work-card a, .special-text {
        margin-left: 15%;
        margin-right: 15%;
    }


  
    #row2 {
        margin-left: 0
    }
  
    #row1 {
      margin-left: 0 
    }

    #menu-icon {
        font-size: 200%;
    }


}

@media screen and (max-width: 910px) {

    p {
        float: left;
        text-align: left;
    }

}

@media screen and (max-width: 780px) {
    h1 {
        font-size: 40px
    }
    #menu-icon {

        font-size: 35px;
    }
}
